<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create User</title>
  </head>
  <body>
    <h1>Create User</h1>
    <form action="/users/create" method="post">
      <label for="">Username: <input type="text" name="username"></label><br>
      <label for="">Email: <input type="text" name="email"></label><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>