<html>

<head>
  <title>Starting Express Apps</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/fonts/roboto/Roboto-Medium.woff">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <center>
          <div class="card-panel">
      <span class="blue-text text-darken-2"><h1>C.R.U.D</h1></span>
    </div>
          
        </center>
      </div>
    </div>
    <div class="row">
      <center>
        <h2>Create, Read, Update, Delete</h2>
        <h3>Manipulate the table in this app.</h3>
      </center>
    </div>
    <center><a class="btn" href="./user">View Users</a></center>
  </div>
</body>

</html>