<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Express From Scratch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <body class="container center">
    <h3>User database</h3>
    <div class="row center">
      <a class="waves-effect waves-light btn" href="http://localhost:3000/user" ><i class="material-icons left">Show</i>Data</a>
      <a class="waves-effect waves-light btn" href="http://localhost:3000/add"><i class="material-icons right">Input</i>Data</a>
    </div>
  </body>
</html>
