
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Express Yes</title>
  </head>
  <body class="container center">
    <h3>User database</h3>
    <div class="row center">
      <a href="http://localhost:3000/user">Show Data</a>
      <a href="http://localhost:3000/add">Input Data</a>
    </div>
  </body>
</html>
