
<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h3>User List</h3>
    <div>
      <a href="http://localhost:3000/user">Show User</a>
      <a href="http://localhost:3000/add">Input User</a>            
    </div>
  </body>
</html>