
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Express yes</title>
  </head>
  <body class="container center">
    <h3><%=pesan%> data <%=hasil%> berhasil</h3>
    <div class="row center">
      <a href="http://localhost:3000">Back to index</a>
    </div>
  </body>
</html>
