<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>input user success</title>
  </head>
  <body>
    <h3><%= message %> <%= result %>Success</h3>
    <div class="">
      <a href="http://localhost:3000">Back to Index</a>
    </div>
  </body>
</html>