<!DOCTYPE html>

<html>
  <head>
    <title>Add User</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/form.css" rel="stylesheet" />
    <link href="/css/table.css" rel="stylesheet" />
  </head>
  <body>
    <form action="/user/add" method="POST" class="form-style-5">
      <fieldset>
        <legend><span class="number">1</span> Add User</legend>
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="submit" value="Save" />
      </fieldset>
    </form>
  </body>
</html>