<html>
<head>
  <title>Create New User</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/fonts/roboto/Roboto-Medium.woff">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row ">
      <h1></h1>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <h3>Insert user:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <form class="" action="" method="post">
          <input type="text" name="id" value="" placeholder="ID">
          <input type="text" name="username" value="" placeholder="Username">
          <input type="email" name="email" value="" placeholder="Email">
          <div class="col">
            <button type="submit" class="btn medium">Submit</button>
            <a href="/user" class="btn medium red">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
